

<br/>

<a href="/api/categories" class="btn btn-primary btn-lg">Get All categories from Web API &raquo;</a>

<br /><br />

<a href="/api/items" class="btn btn-primary btn-lg">Get All items from Web API &raquo;</a>

